<h2>Choix du thème</h2>
<div class="radio">
    <label>
        <input ng-click="vm.saveTheme('java')" type="radio" name="optionsRadios" id="optionsRadios1" value="java" checked>
        JAVA
    </label>
</div>
<div class="radio">
    <label>
        <input ng-click="vm.saveTheme('php')" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        PHP
    </label>
</div>
<div class="radio">
    <label>
        <input ng-click="vm.saveTheme('.net')" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
        .NET
    </label>
</div>